/* Title section */
.title-container {
  margin: 40px 0;
}
.title-text {
  text-align: center;
  font-size: 40px;
  color: var(--pink);
  font-style: italic;
  text-transform: uppercase;
}
.title-underline {
  width: 200px;
  border: 3px solid var(--brown);
  margin: 0 auto;
}
/*  home section */
#home {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/girls-hang.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--light);
  font-style: italic;
}
.home-underline {
  width: 200px;
  border: 3px solid var(--light);
  margin: 10px auto 20px auto;
}
.home-btn {
  display: flex;
  justify-content: space-between;
}
.home-btn button {
  font-size: 30px;
  padding: 15px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: var(--light);
  border: 2px solid var(--light);
}
.home-btn button:hover {
  background: var(--light);
  color: var(--brown);
  border: 5px solid var(--brown);
}
/* Gallery CSS */
#gallery {
  padding: 60px 0;
  background-color: var(--light);
}
.gallery-container {
  max-width: 95vw;
  margin: 0 auto;
}
.row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.8rem;
}
.show-pic {
  text-align: center;
  margin: 20px 0;
}
.show-pic img {
  border-radius: 2rem;
}
.show-pic h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 10px 0;
  color: var(--brown);
  text-transform: uppercase;
}
.show-pic button {
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  margin: 0 10px;
  background: transparent;
  color: var(--brown);
  border: 2px solid var(--brown);
}
@media screen and (min-width: 576px) {
  .row1 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .row1 {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
  }
}
/*  Services */
#services {
  min-height: 90vh;
  background: url("../images/girls-hang.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
}
.services-container {
  max-width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  color: var(--light);
  list-style-type: none;
}
.service-item {
  padding: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.service-item .fas {
  font-size: 60px;
  margin-bottom: 30px;
  color: var(--light);
}
/* Testimonial */
#testimonial {
  background-color: var(--light);
}
.testimonial-heading {
  font-size: 40px;
  color: var(--pink);
  font-style: italic;
  text-transform: uppercase;
}
.testimonial-icon .fa {
  font-size: 40px;
  color: var(--brown);
}
.testimonial-center {
  text-align: center;
  padding: 20px 0;
}
.testimonial-center img {
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
.testimonial-center .fa {
  font-size: 35px;
  margin-right: 5px;
  color: var(--pink);
}
.testimonial-center p {
  line-height: 1.5;
}
/* About Us */
#about {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/team-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px;
}
#about h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--light);
}
#about button {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--light);
  border: 2px solid var(--light);
  background: transparent;
  padding: 10px 15px;
}
#about button:hover {
  color: var(--brown);
  border: 2px solid var(--brown);
  background: var(--light);
}
/* Contact */
#contact {
  padding: 100px 0;
  background-color: var(--light);
  color: var(--brown);
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-info {
  margin: 40px 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
}
.contact-detail {
  display: flex;
}
.contact-icon {
  font-size: 3rem;
  margin-right: 15px;
  align-self: center;
}
.contact-text {
  padding: 0.5rem;
}
.form-container {
  display: flex;
  justify-content: center;
}
.contactform {
  display: grid;
  grid-row-gap: 5px;
  width: 50%;
  padding: 0;
  margin: 0 auto;
}
.contact-inputs,
.contact-message {
  margin: 5px 0;
  padding: 5px 0 !important;
  border: none;
  font-size: 26px;
  border-bottom: 3px solid var(--brown);
  background: transparent;
}
.contact-inputs::placeholder {
  text-transform: capitalize;
  color: var(--brown);
}
.contact-message::placeholder {
  text-transform: capitalize;
  color: var(--brown);
}
.contactform button {
  width: 30vw;
  font-size: 25px;
  margin: 10px 0;
  background: var(--pink);
  border-radius: 20px;
  padding: 10px 0;
  color: var(--brown);
}
.contactform button:hover {
  background: var(--brown);
  color: var(--pink);
}
.contactform h3 {
  width: 100%;
  background: var(--pink);
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (min-width: 776px) {
  .contact-center {
    display: flex;
    padding: 0 40px;
  }
  .contact-left {
    flex: 0 0 calc(40%-1em);
  }
  .contact-right {
    flex: 0 0 calc(60%-1em);
  }
}
iframe {
  display: block;
  border-radius: 20px;
  width: 35vw;
  height: 65vh;
}
/* Footer */
.main-footer {
  min-height: 15vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/235500/pexels-photo-235500.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--light);
}
.footer-icons {
  font-size: 30px;
}
.footer-icons .fab {
  margin-right: 10px;
  color: var(--light);
  transition: transform 2s;
}
.footer-icons .fab:hover {
  margin-right: 10px;
  color: var(--pink);
  transition: transform 2s;
}
