#profile {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.profile-container {
  height: 90vh;
  display: grid;
  grid-template-rows: 100px auto auto;
  grid-row-gap: 5px;
  margin-left: 280px;
}

.profile-list {
  display: flex;
  justify-content: space-around;
}

.profile-card {
  width: 25vw;
}
.card {
  width: 100%;
  height: 100%;
  background: var(--white);
  border-radius: 5px;
  border: 3px solid var(--pink);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.card .box {
  position: absolute;
}

.box {
  margin-left: 75px;
}
.img img {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.img {
  text-align: center;
  margin-left: 50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card .box h2 {
  font-size: 20px;
  color: var(--brown);
  text-align: center;
  font-size: 25px;
}

.profile-ul {
  list-style-type: none;
  margin-top: 15px;
}
.profile-ul li {
  display: inline-block;
  padding: 10px;
}
.profile-ul li a {
  display: block;
}

.profile-ul li .fab {
  color: var(--pink);
  font-size: 30px;
}
.profile-butn button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: var(--pink);
  background: transparent;
  border: 2px solid var(--pink);
}

.box span {
  color: var(--brown);
}
.last-appointment {
  font-weight: bold;
  width: 50%;
  text-align: left;
  float: left;
  color: var(--brown);
}

.more {
  width: 50%;
  text-align: right;
  cursor: pointer;
  float: right;
  font-size: 24px;
  color: var(--pink);
  display: block;
}

.appointment {
  padding: 50px 0 20px;
  text-align: center;
}

.appointment .fas {
  margin-bottom: 10px;
  font-size: 8rem;
  color: var(--pink);
}

.appointment h4 {
  margin-bottom: 10px;
  padding: 0;
  font-size: 30px;
  color: var(--brown);
}
.appointment-facts {
  list-style-type: none;
}

.appointment-facts li {
  padding: 10px 0;
  border-bottom: 2px solid var(--pink);
  display: block;
  font-weight: bold;
  cursor: pointer;
  color: var(--pink);
}

.profile-btn {
  padding: 10px;
  margin: 5px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  background: var(--pink);
  color: var(--light);
}
.table {
  width: 100%;
}

th {
  background-color: var(--pink);
  color: var(--light);
  font-size: 1.2rem;
  padding: 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tbody {
  background: var(--white);
  font-size: 1.2rem;
}

td {
  padding: 20px 10px;
  text-align: left;
  color: var(--brown);
}
